.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.userInfo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  flex-grow: 1;
}

.badgeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 13px;
}

.container {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
}

@media screen and (max-width: 768px) {
  .blog {
    grid-column: 1/-1;
  }
}

.bodyClass {
  padding: 32px 64px;
}

@media screen and (max-width: 425px) {
  .userInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .bodyClass {
    padding-left: 12px;
    padding-right: 12px;
  }
}
