.container {
  padding: 32px 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 4em;
  margin-right: 4em;
}

@media screen and (max-width: 425px) {
  .container {
    padding-left: 4px;
    padding-right: 4px;
  }
  .commentWrapper {
    flex-direction: row;
    margin-left: 1px;
    margin-right: 1px;
  }
}
