.container {
  padding: 32px 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 4em;
  margin-right: 4em;
}
