.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
}
