.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.container {
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 3em;
  margin-bottom: 4em;
}

.formClass {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatarClass {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.badgeContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
