.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.container {
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 3em;
  margin-bottom: 4em;
}
