.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3em;
  margin-left: 9em;
  margin-right: 9em;
}

.container2 {
  margin-right: 2em;
}

@media screen and (max-width: 1024px) {
  .container3 {
    display: none;
  }
  .container {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media screen and (max-width: 786px) {
  .container {
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
    display: block;
  }
}
