.container {
  display: grid;
  grid-template-columns: 4rem 7fr 3fr;
  grid-template-rows: 0fr;
  gap: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 32px;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 4rem 7fr;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
