.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding: 12em;
  padding-top: 2em;
  padding-bottom: 4em;
}

.paperClass > * {
    padding-bottom: 1em;
}