.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 15px;
}

.container3 {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  gap: 12px;
}
